/*  your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
}
.box{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:lightblue;
	color:purple;
	width:200px;
	height:200px;
	border:2px solid black;
}